name: QC Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  checks:
    name: QC Checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - run: corepack enable
      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: "22.21.0"
          package-manager-cache: false

      - name: Install
        run: |
          yarn config set enableImmutableInstalls false
          yarn install

      - name: ESLint checks
        run: npm run check-lint

      - name: Prettier checks
        run: npm run check-format

      - name: TSC checks
        run: npm run check-tsc
